<div modal="metaSubmitSuccess">
    <div class="modal-header">
      <h3 class="modal-title">Metadata</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-success">
        <strong>You have successfully created/updated your metadata</strong>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                UUID
              </td>
              <td>
                {{meta.uuid}}
              </td>
            </tr>
            <tr>
              <td>
                Owner
              </td>
              <td>
                {{meta.owner}}
              </td>
            </tr>
            <tr ng-if="meta.schemaId">
              <td>
                Schema ID
              </td>
              <td>
                {{meta.schemaId}}
              </td>
            </tr>
            <tr>
              <td>
                Association IDs
              </td>
              <td>
                  <json-formatter json="meta.associationIds" open="1"></json-formatter>
              </td>
            </tr>
            <tr>
              <td>
                Value
              </td>
              <td>
                  <json-formatter json="meta.value" open="1"></json-formatter>
              </td>
            </tr>
            <tr>
              <td>
                Links
              </td>
              <td>
                  <json-formatter json="meta._links" open="1"></json-formatter>
              </td>
            </tr>
            <tr>
              <td>
                Created
              </td>
              <td>
                {{meta.created}}
              </td>
            </tr>
            <tr>
              <td>
                Last Updated
              </td>
              <td>
                {{meta.lastUpdated}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="close()">Close</button>
    </div>
</div>
