<span class="oauth">
  <button type="submit" class="btn red uppercase" ng-if="show === 'logged-out'" ng-click="login()">Login</button>
  <button type="submit" class="btn red uppercase" ng-if="show === 'logged-in'" ng-click="logout()">Logout</button>
</span>
