<div class="page-body">
    <div class="lock-head"> Click to Complete Login</div>
    <div class="lock-body">
        <div class="message"></div>
        <div class="lock-avatar-block text-center">
            <oauth
                    template="/auth/views/templates/oauth-ng-button.html"
                    site="tenant.baseUrl"
                    client-id="settings.oauth.clients[tenant.code].clientKey"
                    redirect-uri="{{settings.oauth.clients[tenant.code].callbackUrl}}"
                    authorize-path="/authorize",
                    state="{{randomState()}}"
                    scope="{{settings.oauth.clients[tenant.code].scope}}"
                    tenant="tenant">
            </oauth>
        </div>
    </div>
    <div class="lock-bottom">
        <div class="row login-options">
            <p class="col-xs-12 login-message">Or login with</p>
        </div>
        <div class="row">
          <ul class="list-inline">
            <li ng-repeat="t in settings.tenants">
              <a ui-sref="login({tenantId: t.code})"><img ng-src="/auth/img/tenants/{{t.code}}-icon.png" title="{{t.name}}" class="thumbnail"></a>
            </li>
          </ul>
        </div>
        <div class="row">
          <a ui-sref="tenants" type="button" class="btn btn-default top-buffer">Back</a>
        </div>
    </div>
</div>
