<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
        <div class="loading-message">
            <div class="block-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>
<div ng-show="!requesting">
    <div class="row">
        <div class="col-xs-9">
            <div class="table-responsive">
                <table class="table">
                    <thead class="hidden-sm hidden-xs">
                    <tr>
                        <th class="col-sm-2"></th>
                        <th class="col-sm-10"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{image.name}}</td>
                    </tr>
                    <tr>
                        <td>Public</td>
                        <td>{{image.is_public}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td class="markdown-container">
                            <div class="markdown-wrapper">
                                <div class="markdown">
                                    <div btf-markdown="image.description"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Popularity</td>
                        <td>
                            <div class="knob-wrapper" style="height:100px">
                                <input class="knob" data-width="100" data-thickness="0.5" data-tickcolorizevalues="true" data-displayinput="true" value="{{ image.popularity || 0 }}" data-foregroundcolor="#3fc9d5" data-readonly="true">
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="image.executionSystem">
                        <td>Execution System</td>
                        <td><a href="#/systems/{{image.executionSystem}}">{{image.executionSystem}}</a></td>
                    </tr>
                    <tr ng-if="image.last_modified">
                        <td>Last Modified</td>
                        <td am-time-ago="image.last_modified"></td>
                    </tr>
                    <tr>
                        <td>Runtimes</td>
                        <td>
                            <img src="../assets/layouts/layout/img/docker.png" class="runtime-icon img img-thumbnail" ng-if="image.runtimes.docker" alt="Docker" title="Docker">
                            <img src="../assets/layouts/layout/img/singularity.png" class="runtime-icon img img-thumbnail" ng-if="image.runtimes.singularity" alt="Singularity" title="Singularity">
                            <img src="../assets/layouts/layout/img/rkt.png" class="runtime-icon img img-thumbnail" ng-if="image.runtimes.rocket" alt="Rkt" title="Rkt">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-3">
            <div ng-if="image" class="btn-group pull-right">
                <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a ui-sref="containers.run({id: image.name})" role="button"> <i class="fa fa-play"></i> Run </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
