<div class="row top-buffer">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover management" width="100%" id="datatable_collection">
        <thead>
          <tr role="row" class="heading">
            <th width="25%">
              <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="40%">
              <a href="#" ng-click="sortType = 'manifest_digest'; sortReverse = !sortReverse" title="{{manifest_digest}}">
                Digest
                <span ng-show="sortType == 'manifest_digest' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'manifest_digest' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>

            <th width="15%">
              <a href="#" ng-click="sortType = 'last_modified'; sortReverse = !sortReverse">
                Last Modified
                <span ng-show="sortType == 'last_modified' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'last_modified' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>

            <th width="25%">
              <a href="#" ng-click="sortType = 'size'; sortReverse = !sortReverse">
                Size
                <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tag in tags | orderBy:sortType:sortReverse | filter:search">
            <td>
                <span title="{{ tag.name }} ({{ tag.image_id }})"> {{ tag.name }} </span>
            </td>
            <td>
                {{tag.manifest_digest}}
            </td>
            <td am-time-ago="tag.last_modified"></td>
            </td>
            <td>
              <span title="{{ tag.size | currency : '' : 0 }} B"> {{ (tag.size / 1000000) | number : 1 }} MB</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
