<h3 class="page-title"> App Builder Wizard</h3>

<div class="row top-buffer" ng-show="!requesting">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div ng-show="apps.length > 0">
              <label class="control-label">You can re-use an existing App definition template and provide your own Name and Dependencies:</label>
              <ui-select ng-model="app" theme="bootstrap" on-select="changeAppTemplate($item)">
                <ui-select-match placeholder="Search...">{{$select.selected.id}}</ui-select-match>
                <ui-select-choices repeat="app in apps | filter: $select.search">
                  <div ng-bind-html="app.label"></div>
                  <div ng-bind-html="app.name"></div>
                  <div ng-bind-html="app.version"></div>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="portlet-title top-buffer">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">
                        App Builder Wizard - <span class="step-title"> Step {{currentTabIndex + 1}} of 6 </span>
                    </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'form'" ng-model="wizview">Form</label>
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'code'" ng-model="wizview" >Code</label>
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'split'" ng-model="wizview" >Split</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div ng-show="wizview !== 'code'" class="{{(wizview === 'split') ? 'col-md-6': 'col-md-12'}}">
                        <form
                                name="myForm"
                                class="form-wizard"
                                sf-schema="schema"
                                sf-form="form"
                                sf-model="model"
                                sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'blur' } }}"
                                ng-submit="submit()"
                                no-validate>
                        </form>
                        <ng-include src="'/app/tpl/directives/wizard-buttons.html'"></ng-include>
                    </div>
                    <div ng-show="wizview !== 'form'" class="{{(wizview === 'split') ? 'col-md-6': 'col-md-12'}}">
                        <textarea ui-codemirror ui-codemirror-opts="editorConfig" ng-model="prettyModel"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
